#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.question-box{
  padding: 0 10px 60px 10px;
}
.session{
  border: 1px solid #eaeaea;
  width: 200px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}

.score{
  background: white;
  border: 1px solid #eaeaea;
  box-shadow: #1a1a1a 0 0 10px;
  padding: 10px;
  border-radius: 10px;
  max-height: 400px;
  overflow: auto;
  margin-left: 50%;
}

.page{
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  padding: 5px 0;
  background: #ffffff;
  align-content: center;
  justify-content: center;
  border-top: 1px solid #eaeaea;
  box-shadow: #1a1a1a 0 0 10px;
  align-items: center;
  width: 100%;
  color: #1a1a1a;
}
.page   button{
  margin: 2px 5px;
}
.question{
  position: relative;
  padding: 20px 0;
  border-bottom: 1px solid #eaeaea;
}

.question .submit{
  position: absolute;
  bottom: 0;
  right: 5px;
  background: #1a1a1a;
  color: white;
  border-radius: 5px;
  padding: 2px 10px;
  cursor: pointer;
  margin: 0 10px;
  font-size: 18rpx;
}
.question.right .ant-radio-wrapper-checked{
  color: #0b5c0b;
}
.question.right .ant-radio-wrapper-checked .ant-radio-inner{
  background: #0b5c0b;
  border-color: #0b5c0b;
}
.question .nut-radiogroup{
  margin-top: 10px;
  margin-left: 20px;
}


.question.wrong .ant-radio-wrapper-checked{
  color: #ff0000;
}
.question.wrong .ant-radio-wrapper-checked .ant-radio-inner{
  background: #ff0000;
  border-color: #ff0000;
}

.error-question{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.error-question .content{
  position: absolute;
  background: #ffffff;
  border: 1px solid #eaeaea;
  width: 80vw;
  height: 600px;
  overflow: auto;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
.error-question .mask{
  position: fixed;
  background: #000000;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.select-session{
  display: inline-block;
  border: 1px solid #eaeaea;
  padding: 5px 10px;
  background: #1a1a1a;
  color: white;
  cursor: pointer;
  font-size: 18rpx;
}

.error-modal .q-box{
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #eaeaea;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
.error-modal .error{
  background: #ff0000;
}
.error-modal .right{
  background: #0b5c0b;
}
.error-modal .todo{
  background: grey;
}